
h1 {color:black;font-weight:bold;} 
body {font-family: 'Dancing Script', cursive;  padding:100px;}
nav{font-weight:bold;text-align: right; }
sidebar{font-weight:bold;}
h1,h2,h3,footer,p{text-align: left;padding-left: }